In [151]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

Get the table from URL and store it in a Dataframe

In [152]:
res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Exclude the not assigned rows in Boroug column

In [153]:
df2=df[df['Borough']!='Not assigned']

Group by neighbourhood and borough columns

In [154]:
df2['Neighbourhood']=df2[['Postcode','Borough','Neighbourhood']].groupby(['Postcode','Borough'])['Neighbourhood'].transform(lambda x: ','.join(x))
df2=df2[['Postcode','Borough','Neighbourhood']].drop_duplicates()
df2.reset_index(inplace=True)
df2.head()

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   index Postcode           Borough                    Neighbourhood
0      2      M3A        North York                        Parkwoods
1      3      M4A        North York                 Victoria Village
2      4      M5A  Downtown Toronto         Harbourfront,Regent Park
3      6      M6A        North York  Lawrence Heights,Lawrence Manor
4      8      M7A      Queen's Park                     Not assigned

Copy the borough values in not assigned neigbourhood

In [155]:
df2.iloc[df2[df2['Neighbourhood']=='Not assigned'].index[0],3]=df2.iloc[df2[df2['Neighbourhood']=='Not assigned'].index[0],2]
df2.drop('index',axis=1,inplace=True)
df2.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

Get the shape of the DataFrame

In [156]:
df2.shape

(103, 3)